<div mat-dialog-title>
  <h1>Registrar Castigo</h1>
</div>

<div mat-dialog-content class="content">
  <div class="row">
    <mat-form-field appearance="outline">
      <mat-label>Num Tiket</mat-label>
      <input matInput [(ngModel)]="pesajes.num_ticket" type="text" placeholder="00252387">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Proveedor</mat-label>
      <input matInput placeholder="Ex. Babaji" [(ngModel)]="nombreApellido">
    </mat-form-field>
  </div>

  <div class="row">
    <mat-form-field appearance="outline">
      <mat-label>Peso Ingreso</mat-label>
      <input matInput [(ngModel)]="pesajes.peso_ingreso" type="text" placeholder="00252387">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Peso Salida</mat-label>
      <input matInput placeholder="Ex. Babaji" [(ngModel)]="pesajes.peso_salida">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Peso Neto</mat-label>
      <input matInput placeholder="Ex. Babaji" [(ngModel)]="pesajes.peso_neto">
    </mat-form-field>
  </div>


  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Evaluar</mat-card-title>
    </mat-card-header>
    <mat-card-content>

      <div class="row">
        <mat-form-field>
          <mat-select placeholder="Criterios Calidad" [(ngModel)]="selectedValue" (ngModelChange)="onFoodSelection2()">
            <mat-option value=""></mat-option>
            <mat-option *ngFor="let c of criterios" [value]="c.id_criterio">
              {{ c.descripcion }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Unidad Medida</mat-label>
          <input disabled="" matInput placeholder="UND" [value]="um">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Forma Castigo</mat-label>
          <input disabled="" matInput placeholder="DescuentoPlanilla" [value]="forma_castigo">
        </mat-form-field>
      </div>

      <div class="row">

        <mat-form-field appearance="outline">
          <mat-label>Castigo</mat-label>
          <input disabled="" matInput placeholder="SI || NO" [value]="castigo">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Factor Castigo</mat-label>
          <input disabled="" matInput placeholder="0.040" [value]="factor_castigo">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Valor</mat-label>
          <input matInput placeholder="30" [(ngModel)]="valor">
        </mat-form-field>
      </div>

    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-raised-button (click)="registrar()" color="primary" mat-button>Registrar</button>
    </mat-card-actions>
  </mat-card>

  <br>

  <section class="example-container mat-elevation-z8" tabindex="0">
    <table mat-table [dataSource]="dataSource" matSort>
      <!-- ID Column -->
      <ng-container matColumnDef="criterio">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Criterio </th>
        <td mat-cell *matCellDef="let row">{{ row.id_criterio.descripcion }}</td>
      </ng-container>

      <!-- Progress Column -->
      <ng-container matColumnDef="valor">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>valor</th>
        <td mat-cell *matCellDef="let row">{{ row.valor }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="unidadMedida">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Unidad Medida</th>
        <td mat-cell *matCellDef="let row">{{ row.codigo_um }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="castigo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Castigo</th>
        <td mat-cell *matCellDef="let row"> {{ row.castigo}}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="formacastigo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Forma Castigo</th>
        <td mat-cell *matCellDef="let row">{{ row.forma_castigo }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="factorcastigo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Factor Castigo</th>
        <td mat-cell *matCellDef="let row"> {{ row.factor_castigo}}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="totalcastigo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Total Castigo</th>
        <td mat-cell *matCellDef="let row"> {{ row.valor*row.factor_castigo }}</td>
      </ng-container>

      <ng-container matColumnDef="eliminar">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Eliminar</th>
        <td mat-cell *matCellDef="let row">
          <div class="example-button-container">
            <button (click)="eliminarEvaluacion(row.id_evaluacion)" mat-icon-button color="warn"
              aria-label="Example icon button with a home icon">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displeyedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displeyedColumns"></tr>
    </table>
  </section>

<br>

  <mat-card>
    <mat-card-header>
      <mat-card-subtitle>REGISTRAR CONTROL DE RFF</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <!-- CAMPAÑA-->
        <mat-form-field appearance="outline">
          <mat-label>Campaña</mat-label>
          <input matInput placeholder="Campaña" [(ngModel)]="campana">
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="Limpieza" [(ngModel)]="condicion">
            <mat-option *ngFor="let l of limpieza" [value]="l.value">
              {{ l.value }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="Tipo Racimo" [(ngModel)]="tipo_racimo">
            <mat-option *ngFor="let tr of tipoRacimo" [value]="tr.value">
              {{ tr.value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-raised-button color="primary" (click)="registrarControl()">Registrar</button>
    </mat-card-actions>
  </mat-card>
</div>

<div mat-dialog-actions class="action">
  <button mat-raised-button color="warn">SALIR</button>
</div>






