<div mat-dialog-title>
  <h1>Registrar Castigo</h1>
</div>

<div mat-dialog-content class="content">
  <div class="row">
    <mat-form-field appearance="outline">
      <mat-label>Num Tiket</mat-label>
      <input matInput [(ngModel)]="pesajes.num_ticket" type="text" placeholder="00252387">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Proveedor</mat-label>
      <input matInput placeholder="Ex. Babaji" [(ngModel)]="nombreApellido">
    </mat-form-field>
  </div>


  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Evaluar</mat-card-title>
    </mat-card-header>
    <mat-card-content>

      <div class="row">
        <mat-form-field>
          <mat-label>Criterio Calidad</mat-label>
          <mat-select [(ngModel)]="selectedValue" [(value)]="idCriterioSeleccionado">
            <mat-option *ngFor="let c of criterios" [value]="c.id_criterio">
              {{ c.descripcion }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Unidad Medida</mat-label>
          <input disabled="" matInput placeholder="Ex. Babaji">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Forma Castigo</mat-label>
          <input disabled="" matInput placeholder="Ex. Babaji">
        </mat-form-field>
      </div>

      <div class="row">
        
        <mat-form-field appearance="outline">
          <mat-label>Castigo</mat-label>
          <input disabled="" matInput placeholder="Ex. Babaji">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Factor Castigo</mat-label>
          <input disabled="" matInput placeholder="Ex. Babaji">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Valor</mat-label>
          <input matInput placeholder="Ex. Babaji">
        </mat-form-field>
      </div>


    </mat-card-content>
    <mat-card-actions>
      <button (click)="registrar()" mat-button>Guardar</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>


</div>

<div mat-dialog-actions class="action">
  <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
</div>