<div class="example-container">
  <mat-drawer-container class="example-container" autosize>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon *ngIf="!drawer.opened">menu</mat-icon>
        <mat-icon *ngIf="drawer.opened">close</mat-icon>
      </button>

      <h1 class="example-app-name">OLPASA</h1>
      <span class="example-spacer"></span>

      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>person2</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>person</mat-icon>
          <span>Mi Perfil</span>
        </button>
        <button mat-menu-item>
          <mat-icon>logout</mat-icon>
          <span>Cerrar Sesion</span>
        </button>
      </mat-menu>

    </mat-toolbar>

    <mat-drawer #drawer class="example-sidenav" mode="side">
      <img src="assets/logo_olpasa.png" width="150" height="60" style="margin-left: 20px" />

      <button mat-menu-item (click)="drawer.toggle()" routerLink="/" style="cursor: pointer">
        <mat-icon>dashboard</mat-icon> 
        <span>Inicio</span>
      </button>

      <button mat-menu-item (click)="drawer.toggle()" routerLink="/evaluacion" style="cursor: pointer">
        <mat-icon>explicit</mat-icon> 
        <span>E. Calidad</span>
      </button>

      <button mat-menu-item (click)="drawer.toggle()" routerLink="/destarar" style="cursor: pointer">
        <mat-icon>border_color</mat-icon>
        <span>Evaluar</span>
      </button>

    </mat-drawer>

    <router-outlet></router-outlet>

  </mat-drawer-container>
</div>
